/* -------------------------------
  Variables
------------------------------- */
:root {
  --baseunit: 8px;
  --color-bg-primary: #111111;
  --color-bg-secondary: #222222;
  --color-text-primary: #ffffff;
  --color-border1: #ffffff;
  --color-shadow1: #000000;
  --color-profileimg-fallback: #333;
  --color-accent: #e01dfd;

  --color-overlay-gradient1: #900a0d;
  --color-overlay-gradient2: #214acf;
}
